<div>
    <p-tabView>
      <p-tabPanel header="http">
        <div style="display: block">
            <canvas #httpChart baseChart
                [datasets]="httpData"
                [labels]="httpLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>
        </div>
      </p-tabPanel>
      <p-tabPanel header="https">
        <div style="display: block">
            <canvas #httpsChart baseChart
                [datasets]="httpsData"
                [labels]="httpsLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"></canvas>
        </div>
      </p-tabPanel>
    </p-tabView>
    <button (click)="getdocs()">{{getdocs_buttonName}}</button>
    {{docs}}
    <button (click)="updateCollector()">{{updateCollectorBtn}}</button>
</div>
